.blog-meta-list li {
  color: rgba(0, 0, 0, 0.3);
  display: inline-block;
  padding-right: 2em;
}

.blog-meta-list .keywords {
  margin-left: 20px;
}

@media (max-width: 767px) {
  .blog-meta-list li {
    display: block;
    margin-top: 15px;
  }
  .blog-meta-list .keywords {
    margin-bottom: 20px;
  }
}

@media (max-width: 480px) {
  .media-body {
    display: block;
    width: 100%;
  }
}

.post-html pre {
  background-color: white;
  border: none;
}

.post-html li {
  font-size: 18px;
  margin-bottom: 18px;
}

#blog-container {
  width: 96%;
}

.post-html p {
  font-weight: normal;
  font-size: 18px;
  /*margin-bottom: 72px;*/
}

.post-preview-title {
  font-size: 24px;
  font-weight: 700;
}

.post-title {
  font-size: 36px;
  font-weight: 700;
}

.blog-social-links {
  list-style-type: none;
  padding: 0px;
}

.blog-social-links li {
  display: inline-block;
}

.blog-keyword-button {
  margin: 10px;
}

.responsive-code-wrapper {
  overflow: auto;
}
